version: 2

updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: weekly
# Uncomment the above block to enable Dependabot for Python dependencies managed with pip.

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
